body {
	font-family: Verdana, Helvetica, sans-serif;
}

li.todo-item {
	list-style: none;
}

li.todo-item .checkbox {
	width: 18px;
	height: 18px;
}

.completed .todo-input {
	text-decoration: line-through;
}